@font-face {
  font-family: myfont;
  src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: myfontbold;
  src: url(fonts/Roboto-Bold.ttf);
}

body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.9px);
  -webkit-backdrop-filter: blur(13.9px);
  -moz-backdrop-filter: blur(13.9px);
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  width: 100%;
  padding-top: 10px;
}

.logo {
  flex-basis: auto;
}

.navlinks {
  flex-basis: auto;
  width: 35%;
}

button {
  flex-basis: auto;
}

nav .navlinks ul {
  display: flex;
  justify-content: space-between;
}

nav .navlinks ul li {
  list-style: none;
}

nav .navlinks ul li a {
  text-decoration: none;
  color: #1c1e53;
  font-size: 13px;
  font-family: Roboto;
}

.button button {
  width: 130px;
  height: 50px;
  color: #5e3bee;
  background-color: white;
  border: 1px solid #5e3bee;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5.33px;
  font-family: Roboto;
  transition: all ease 0.4s;
}

.button button:hover{
  cursor: pointer;

  /* checkout webkit scale */
  --webkit-scale: 1.1;
}

.home-page {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  background-color: #F5FCFF;
}

.greeting {
  font-size: 21.33px;
  font-family: Roboto;
  font-weight: 600;
  color: #282938;
}

.heading {
  font-size: 45px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}

.change {
  color: #5e3bee;
}

.explain-tire {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
}

.left-side button {
  padding: 12px;
  width: 170px;
  height: 69.3px;
  font-size: 15px;
  margin-top: 3%;
  color: #5e3bee;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  color: white;
  background-color: #5e3bee;
}

.portfolio{
   padding-left: 3%;
  padding-right: 3%;
    padding-top: 5%;
}

.expert{
  font-size: 50px;
  font-family: myfont;
  color: #282938;
}

.cards{
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.9px);
  -webkit-backdrop-filter: blur(13.9px);
  -moz-backdrop-filter: blur(13.9px);
  width: 25%;
  padding: 10px;
  background-color: hsl(198, 100%, 98%);
  border-radius: 5px;
  border-bottom: 3.5px solid #5e3bee;
}

.cards .images{
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.9px);
  -webkit-backdrop-filter: blur(13.9px);
  -moz-backdrop-filter: blur(13.9px);
  background-color: #fff;
  width: 60px;
  padding: 18px;
  border-radius: 9px;
  
}

.cards h1{
  font-size: 22px;
  font-size: myfontbold;
}

.flex-boxes{
  display: flex;
  justify-content: space-between;
}

.about-me{
  display: flex;
  justify-content: space-around;
 
}


.about{
  padding: 10px;
  padding-left: 20px;
  margin: 10px;
  margin-top:10px ;
}

.cards .images-pro{
 box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.9px);
  -webkit-backdrop-filter: blur(13.9px);
  -moz-backdrop-filter: blur(13.9px);
  background-color: #fff;
  width: 60px;
  padding: 18px;
  border-radius: px;
}

.projects{
  margin: 5px;
  padding-left: 5px;
  margin-top: 5px;
  display:grid;
  justify-content:right;
}

.cards-test{
 box-shadow: 0 4px 30px rgba(77, 213, 100, 0.1);
  backdrop-filter: blur(13.9px);
  -webkit-backdrop-filter: blur(13.9px);
  -moz-backdrop-filter: blur(13.9px);
  width: 25%;
  padding: 10px;
  background-color: hsl(198, 100%, 98%);
  border-radius: 5px;
  border-bottom: 3.5px solid #5e3bee;
}

.aboutme{
  margin: 5px;
}

.form{
  margin-top: 20px;
}

.form p{
  text-align: center;
}

.form  h2{
  text-align: center;
}
.form{
  display: flex;
  justify-content: center;
}
.Names .name{
  width: 369px;
  height: 34px;
  margin-right: 20px;
  border: 1px solid #5e3bee;
  border-radius: 3px;
  padding: 5px;
}

.contacts .contact{
   width: 369px;
  height: 34px;
  margin-right: 20px;
  margin-top: 4%;
  border: 1px solid #5e3bee;
  border-radius: 3px;
  padding: 5px;
}

select{
  width: 787px;
  height: 48px;
  margin-top: 4%;
border-radius: 3px;
border: #5e3bee solid 1px;
}

textarea{
margin-top: 4%;
border-radius: 3px;
border: #5e3bee solid 1px;
width:797px;
height: 250px;

}

.submit{
  padding: 12px;
  background-color: #5e3bee;
  font-weight: 600;
  border: none;
  font-size: 16px;
  width: 100px;
  height: 40px;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}